:root{
    --primary-orange: #F7A100;
    --primary-lt-blue: #E6F2F7;
    --primary-dk-blue: #0071B3;
    --primary-lt-gray: #CCCCCC;

    --secundary-brown: #53241B;
    --accent-pink: #E09199;
    --accent-yellow: #F8C463;
}

@font-face {
    font-family: "ProximaNova";
    src: url(../assets/Fonts/ProximaNova-Regular_2607783814[2260].otf);
  }

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    & h1{
        text-align: start;
        border-bottom: solid 4px var(--primary-orange);
        padding: .3em;
        font-size: 2em;
    }
}
/* header section */
 nav{
    background-color: var(--primary-orange);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-height: 6em;
    & ul{
        display: flex;
        list-style: none;
    }
    & li{
        margin: 1em;
    }
    & a{
        text-decoration: none;
        color: white;
    }
} 
#logo{
    max-width: 10em;
    margin-left: 2em;
} 

 .intro {
    background-color: var(--primary-lt-blue);
    padding: 1em;
& div{
    display: flex;
    align-items: center;
    margin: 1em 6em;
    & img{
        max-width: 20em;
    }

}
} 

.lijsten-banner{
    background-color: var(--primary-dk-blue);
    & img {
        max-width: 20em;
    };
}
.lijsten{
    & form{
       border: solid 5px var(--primary-dk-blue);
       background-color: var(--primary-dk-blue);
    }
    & input{
        padding: .7em 4em;
    }
    & button{
        border: none;
        padding: 1em 1.5em;
        background-color: var(--primary-dk-blue);
        color: white;
    }
    & button:hover{
        background-color: var(--primary-orange);
    }
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 1em 0;
        padding: 0;
        align-self: start;
    }
    & li{
        background-color: white;
        border: solid 5px var(--primary-orange);
        border-radius: .5em;
        margin: .3em;
        padding: .5em;
        width: 15em;
        height: 1em;
        text-align: center;
    }
   
    & a{
        position: relative;
        bottom: .8em;
        color: black;
        text-decoration: none;
    }
}
#delete-button{
    background-color: var(--primary-orange);
    color: white;
    position: relative;
    left: 7em;
    bottom: 1em;

}
@media screen and (min-width: 375px){
    .intro div{
        display: flex;
        flex-direction: column-reverse;
        margin: 1em 0;
        justify-content: center;

    }
    .lijsten-banner{
        margin: 1em;
        background-color: aliceblue;
        border: solid 5px var(--primary-dk-blue);
        padding: 1em;
        & img{
            display: none;
        }
    }
    nav {
        & ul{
            display: none;
        }
    }
    .lijsten{
        align-self: center;
    }
    
}

@media screen and (min-width: 600px){
    .intro div{
       display: flex;
       justify-content: center;
       
    }
    .lijsten-banner{
        
        & img{
            display: block;
        }
    }
    nav {
        & ul{
            display: flex;
        }
    }
    .lijsten{
        display: flex;
        flex-direction: column;
    
    }
}

@media screen and (min-width: 768px){
    .intro div{
    display: flex;
    align-items: center;
    flex-direction: row;
    }
    .lijsten-banner{
       
        background-color: var(--primary-dk-blue);
    }
    nav {
        & ul{
            display: flex;
        }
    }
    .lijsten{
        margin: 0em 3em;
       & form{
        display: flex;
       }
    }
    
}

/* huizen lijst section */

h2{
    margin: 1em;
    font-size: 2em;
    border-bottom: solid 4px var(--primary-orange);
    padding: .3em;
    position: relative;
     button{
        background-color: var(--primary-orange);
        color: white;
        padding: .5em 1em;
        border: solid 5px var(--primary-dk-blue);
        border-radius: .5em;
        font-size: 17px;
        position: absolute;
        right: 2em;
        bottom: 0.4em;
    }
}
.house{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-bottom: solid 5px var(--primary-orange);
    border-radius: .5em;
    background-color: var(--primary-lt-blue);
    position: relative;
    & img{
        max-width: 20em;
    }
    & h3, p{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    & li{
        list-style: none;
    }

    & button{
    background-color: var(--primary-dk-blue);
    color: white;
    padding: .5em 1em;
    border: solid 5px var(--primary-orange);
    border-radius: .5em;
    margin: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 17px;
}
& button:hover{
    background-color: var(--primary-orange);
}
& span{
    font-size: 2.5em;
    color: var(--primary-orange);
    position: absolute;
    top: 1em;
    right: 1em;
}
}
@media screen and (max-width: 767px){
    .house{
        display: flex;
        flex-direction: column;
        & span{
        position:absolute;
        top: 0.4em;
        right: 0.2em;
        background-color: var(--primary-lt-blue);
        }
    }
     .house button{
        position: relative;
        bottom: 1em;
        right: 0em;
    } 
    }
    
/* section ranking field pop up */
.ranking-field{
    background-color: var(--primary-dk-blue);
    border: solid 5px var(--accent-yellow);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    display: none;
& .submit-ranking{
    background-color: var(--primary-orange);
    color: white;
    padding: .5em 1em;
    border: solid 5px var(--primary-dk-blue);
    border-radius: .5em;
    font-size: 17px;
    align-self: center;

}
    
}
.show-ranking{
    display: flex;
}
.beoordeling, .uitkomsten-beoordeling{
    background-color: var(--primary-lt-blue);
    border: solid 5px var(--primary-orange);
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
    width:25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
}

.slider{
    margin-right: 10px;
}

.sliderValue {
    font-weight: bold;
}

